<div class="footer">
			  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
				<tr>
				  <td class="content-block">
					<span class="apple-link">All rights reserved.</span>
					<br> Don't like these emails? <a href="https://nestjs.com/">Unsubscribe</a>.
				  </td>
				</tr>
				<tr>
				  <td class="content-block powered-by">
					<a href="https://nestjs.com/">NestJS</a>.
				  </td>
				</tr>
			  </table>
			</div>