{{#> libs/server/util-mailer/src/templates/layout }}
<p>Thanks for signing up! Please use the following link to verify your email:</p>
<a href="{{ verificationLink }}">Verify {{ userEmailAddress }}</a>
{{/libs/server/util-mailer/src/templates/layout}}